*.log
*.aux
safecpda/safecpda.pdf
*.synctex.gz
*-pdflatex.fmt
*-preamble.dep
*.dep
*/TeXAux/*
safecpda/pstring.pro
safecpda/safecpda.zip
ulctraversals/ulc-trav.dvi
ulctraversals/ulc-trav.pdf
*.bbl
*.blg
ulctraversals/ulc-trav.synctex.gz(busy)
/ulctraversals/ulc-trav.synctex
/ulctraversals/ulctrav.zip
